$font-stack-source: "Source Sans 3", sans-serif;
$font-stack-bungee: Bungee, sans-serif;

$text-dark: #545149;
$text-light: white;
$text-alert: red;

$background: #f4f1ec;
$primary: #4056A1;
$secondary: goldenrod;
$shadow: lightsteelblue;
$translucent: #ffffff16;