@use 'base';
@use 'mixins';

header.profile {
  display: flex;
  height: 240px;
  width: 100vw;
  min-width: 360px;
  flex-direction: column;
  @include mixins.smackDab();
  padding-top: 60px;
  background-color: base.$secondary;
  background-image: url("../images/asfalt-light.png");

  img {
    height: 7em;
    width: 7em;
  }

  h2 {
    margin: 0;
    color: base.$text-light;
    font-size: 1.5em;
    font-weight: 300;

    strong {
      font-weight: 600;
    }
  }
}


/* TABLET */
@media screen and (min-width: 768px) {
  header.profile {
    height: 340px;
  }

}

/* DESKTOP */
@media screen and (min-width: 1024px) {
  header.profile {
    min-width: 9em;
    flex-shrink: 2;
    height: 300px;
    padding: 0;
    margin: 180px 3.5em 0 2.5em;

    img {
      height: 8em;
      width: 8em;
    }
  }

}