@use 'base';

.tweet {
  display: flex;
  flex-flow: column;
  border: thick solid base.$text-dark;
  background-color: base.$background;
  padding: 0.5em;
  margin-bottom: 1.5em;

  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 0;
    padding: 0.3em;
    padding-right: 0;
    background-color: base.$background;

    div {
      display: flex;
      align-items: center;

      img {
        height: 2.2em;
        width: 2.2em;
        margin-right: 0.8em;
      }

      span {
        margin-top: 0.5em;
      }
    }

    address {
      font-style: normal;
      color: base.$shadow;
      padding-right: 1em;
    }
  }

  section {
    word-wrap: break-word;
    font-weight: 600;
    padding: 1.5em 1em 1.5em 1em;
    border-bottom: thick solid base.$text-dark;
  }

  footer {
    display: flex;
    justify-content: space-between;
    padding: 0.5em 1em 0.5em 1em;

    time {
      font-size: 0.6em;
      font-weight: 600;
    }

    span.icons {
      display: flex;
      width: 4.5em;
      justify-content: space-between;
      font-size: 0.7em;
      color: base.$primary;

      i:hover {
        color: base.$secondary;
      }

      div {
        font-size: 0.35em;
        font-weight: 600;
        margin-top: 0.3em;
        margin-left: -1.8em;
        cursor: default;
      }

      i.fa-heart:hover div {
        color: base.$secondary
      }
    }
  }
}

.tweet:hover {
  box-shadow: 8px 8px 1px base.$shadow;

  header address {
    text-shadow: 0px 0px 1px base.$shadow;
  }
}