header {
  display: flex;
  height: 520px;
  width: 100vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 120px;
  background-color: goldenrod;
  background-image: url("../images/asfalt-light.png");

}

header h2 {
  margin: 0;
}