nav {
  display: flex;
  position: fixed;
  height: 120px;
  width: 100vw;
  background-color: #4056A1;
  color: #FFFFFF;
  font-size: 50px;
  padding: 0 1.5em 0.4em 1.5em;
  justify-content: space-between;
  align-items: flex-end;
}

nav>span {
  font-family: Bungee, sans-serif;
}

nav div {
  display: flex;
  font-size: 0.5em;
  flex-direction: column;
  align-items: center;
}

i.fa-angles-down {
  /*double chevron*/
  color: #FF0000;
  animation: upDown 2s linear infinite;
  position: relative;
  left: 0;
  bottom: 0;
}

@keyframes upDown {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(0.5em);
  }
}