.new-tweet {
  padding: 1.5em 0.5em 2.5em 0.5em;
  font-weight: 600;
}

#tweet-text,
#tweet-text:focus {
  font-weight: 600;
  font-size: smaller;
  height: 3em;
  width: 100%;
  background-color: #f4f1ec;
  border: none;
  border-bottom: thick solid #545149;
  margin-bottom: 0.5em;
  margin-top: 0.2em;
  resize: none;
  outline-style: none;
}

.new-tweet form div {
  display: flex;
  justify-content: space-between;
  font-family: Bungee, sans-serif;
}

.new-tweet button {
  background-color: #4056A1;
  color: #FFFFFF;
  padding: 0.2em 0.5em 0.2em 0.5em;
  border: none
}

.counter {
  margin-right: 0.5em;
}

.counter-negative {
  color: red
}

section.error {
  display: none;
  width: 100%;
  font-family: "Source Sans 3", sans-serif;
  color: red;
  border: thick solid red;
  padding: 0.4em 1em 0.4em 1em;
}

section.error span {
  margin-left: 0.3em;
  margin-right: 0.3em;
}